In [1]:
# Import necessary libraries.
import requests
import camelot
import pandas as pd
from datetime import date, timedelta

In [2]:
# Define the variable for the date string.
yesterday = date.today() - timedelta(days=1)
yesterday_a = yesterday.strftime('%Y%m%d')
print(yesterday_a)

20220207

In [3]:
# Download source latest PDF file "Details of Compulsory Testing Notice (G.N. (E.) 192 of 2022)"
# from www.chp.gov.hk. https://www.chp.gov.hk/en/features/105294.html

url_path = 'https://www.chp.gov.hk/files/pdf/ctn_' + yesterday_a + '.pdf'
url = url_path
r = requests.get(url, allow_redirects=True)

file_path = 'data/ctn_' + yesterday_a + '.pdf'
open(file_path, 'wb').write(r.content)

832457

In [4]:
# Define the source PDF file path.
source_file = file_path

In [5]:
# Extract all tables from all pages in a PDF file.
data_tables = camelot.read_pdf(source_file, pages='all')

In [6]:
# Print the number or tables are bthat eing extracted.
print("Total Number of Tables Being Extracted:", data_tables.n)

Total Number of Tables Being Extracted: 23

In [7]:
# Parse all extract tables into a single list.
data_list = []

for t in range(data_tables.n):
    data = data_tables[t].df
    data_list.append(data)

In [8]:
# Convert list into Pandas dataframe.
data_final_1 = pd.concat(data_list, ignore_index=False, sort=False)

In [9]:
# Change the dataframe column headers.
data_final_1.columns = ['Number', 'Specified_Place', 'Specified_Datetimes_Periods', 'Required_Testing_Dates']

In [10]:
# Display header of dataframe.
data_final_1

,Number,Specified_Place,Specified_Datetimes_Periods,Required_Testing_Dates
0,,指明地點 \nSpecified place,指明期間及時段 \n(視情況而定任何一個 \n期間及時段) \n[年年年年-月月-日日] \...,須進行檢測日期 \n[年年年年-月月-日日] \nRequired testing date...
1,1.,"九龍灣德福花園 M2 座 \nBlock M2, Telford Gardens, \nKo...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,(1) 2022-02-07 ~ 2022-02-09 \n(2) 2022-02-10 ~...
2,2.,"深水埗福榮街 92-98 號常\n福大廈 \nSheung Fook Building,...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,
0,,指明地點 \nSpecified place,指明期間及時段 \n(視情況而定任何一個 \n期間及時段) \n[年年年年-月月-日日] \...,須進行檢測日期 \n[年年年年-月月-日日] \nRequired testing date...
1,3.,"將軍澳峻瀅 1 座 \nTower 1, The Beaumount, \nTseun...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,(1) 2022-02-07 ~ 2022-02-09 \n(2) 2022-02-10 ~...
...,...,...,...,...
2,9,"九龍城德朗邨德瑤樓 \nTak Yiu House, Tak Long \nEstate, ...",2022-01-25 ~ 2022-02-07 \n(曾身處指明場所超過兩\n小時) \n(...,2022-02-07 ~ 2022-02-09
3,10,"九龍城德朗邨德瓏樓 \nTak Loong House, Tak \nLong Estate...",2022-01-25 ~ 2022-02-07 \n(曾身處指明場所超過兩\n小時) \n(...,2022-02-07 ~ 2022-02-09
4,11,"九龍城德朗邨德瑩樓 \nTak Ying House, Tak Long \nEstate,...",2022-01-25 ~ 2022-02-07 \n(曾身處指明場所超過兩\n小時) \n(...,2022-02-07 ~ 2022-02-09
0,,指明地點 \nSpecified place,指明期間及時段 \n(視情況而定任何一個 \n期間及時段) \n[年年年年-月月-日日] \...,須進行檢測日期 \n[年年年年-月月-日日] \nRequired testing date...
1,12,h\n黃大仙鳴鳳街 20-64 號(雙\n數街號)、鳳凰大樓、翠\n鳳街 1-68 號、沙田...,2022-01-25 ~ 2022-02-07 \n(曾身處指明場所超過兩\n小時) \n(...,2022-02-07 ~ 2022-02-09

In [11]:
# Erase unnecessary rows from the dataframe.
data_final_2 = data_final_1[data_final_1.Specified_Place != '指明地點 \nSpecified place']

In [12]:
# Display header of dataframe.
data_final_2

,Number,Specified_Place,Specified_Datetimes_Periods,Required_Testing_Dates
1,1.,"九龍灣德福花園 M2 座 \nBlock M2, Telford Gardens, \nKo...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,(1) 2022-02-07 ~ 2022-02-09 \n(2) 2022-02-10 ~...
2,2.,"深水埗福榮街 92-98 號常\n福大廈 \nSheung Fook Building,...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,
1,3.,"將軍澳峻瀅 1 座 \nTower 1, The Beaumount, \nTseun...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,(1) 2022-02-07 ~ 2022-02-09 \n(2) 2022-02-10 ~...
2,4.,"九龍灣麗晶花園 13 座 \nBlock \n13, \nRichland \nGarden...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,
3,5.,"馬鞍山富寶花園 9 座 \nBlock \n9, \nSaddle \nRidge \nGa...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,
...,...,...,...,...
1,8,"油塘油麗邨豐麗樓 \nFung Lai House, Yau Lai \nEstate, Y...",2022-01-25 ~ 2022-02-07 \n(曾身處指明場所超過兩\n小時) \n(...,2022-02-07 ~ 2022-02-09
2,9,"九龍城德朗邨德瑤樓 \nTak Yiu House, Tak Long \nEstate, ...",2022-01-25 ~ 2022-02-07 \n(曾身處指明場所超過兩\n小時) \n(...,2022-02-07 ~ 2022-02-09
3,10,"九龍城德朗邨德瓏樓 \nTak Loong House, Tak \nLong Estate...",2022-01-25 ~ 2022-02-07 \n(曾身處指明場所超過兩\n小時) \n(...,2022-02-07 ~ 2022-02-09
4,11,"九龍城德朗邨德瑩樓 \nTak Ying House, Tak Long \nEstate,...",2022-01-25 ~ 2022-02-07 \n(曾身處指明場所超過兩\n小時) \n(...,2022-02-07 ~ 2022-02-09
1,12,h\n黃大仙鳴鳳街 20-64 號(雙\n數街號)、鳳凰大樓、翠\n鳳街 1-68 號、沙田...,2022-01-25 ~ 2022-02-07 \n(曾身處指明場所超過兩\n小時) \n(...,2022-02-07 ~ 2022-02-09

In [13]:
# Define the variable for the date string.
yesterday = date.today() - timedelta(days=1)
yesterday_b = yesterday.strftime('%Y-%m-%d')
print(yesterday_b)

2022-02-07

In [14]:
# Filter dataframe by the specific name of district (Tai Po) and date (today).
data_final_Tai_Po_Yesterday = data_final_2[(data_final_2['Specified_Place'].str.contains("Tai Po")) & 
                                        data_final_2['Specified_Datetimes_Periods'].str.contains(yesterday_b)]

In [15]:
# Display header of dataframe.
data_final_Tai_Po_Yesterday

Empty DataFrame
Columns: [Number, Specified_Place, Specified_Datetimes_Periods, Required_Testing_Dates]
Index: []

In [16]:
# Filter dataframe by the specific name of district (Tsuen Wan) and date (today).
data_final_Tsuen_Wan_Yesterday = data_final_2[(data_final_2['Specified_Place'].str.contains("Tsuen Wan")) & 
                                        data_final_2['Specified_Datetimes_Periods'].str.contains(yesterday_b)]

In [17]:
# Display header of dataframe.
data_final_Tsuen_Wan_Yesterday

,Number,Specified_Place,Specified_Datetimes_Periods,Required_Testing_Dates
3,9.,"荃灣石圍角邨石芳樓 \nShek Fong House, Shek Wai \nKok Es...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,
2,40.,"荃灣富麗花園昌貴閣 \nCheong \nKwai \nCourt, \nWealthy G...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,
3,69.,"荃灣川龍街 66 號華景樓 \nWah King House, 66 Chuen \nLun...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,
4,70.,"荃灣荃威花園 J 座 \nBlock J, Allway Gardens, \nTsu...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,
1,71.,"荃灣海濱花園海裕閣 \nHoi Yue Mansion, Riviera \nGard...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,(1) 2022-02-07 ~ 2022-02-09 \n(2) 2022-02-10 ~...
2,72.,"荃灣海灣花園 1 座 \nBlock 1, Waterside Plaza, \nTs...",(\n2022-01-25 ~ 2022-02-07 \n曾身處指明場所超過兩\n小時) \...,